/* -------------- Booking Services -------------- */

#find-tp {
    position: relative;
    min-height: 100vh;
    background: whitesmoke;
    z-index: 0;
}


#find-tp .container {
    position: relative;
    min-height: 120vh;
}

#find-tp .outer-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
}

#find-tp .col-md-6 {
    position: relative;
    width: 50%;
    min-height: 80vh;
}

#find-tp .col-md-6.column-left {
    padding-top: 70px;
    display: flex;
    justify-content: center;
}

#find-tp .col-md-6.column-left form {
    width: 70%;
}


.find-img {
    position: absolute;
    width: auto;
}

.find-img.img-1 {
    max-height: 43.75%;
    right: 45px;
    top: 180px;
    opacity: 0.7;
    z-index: 2;
}

.find-img.img-2 {
    max-height: 45vh;
    right: 320px;
    top: 170px;
    opacity: 0.9;
    z-index: 3;
}

.find-img.img-3 {
    max-width: 18vw;
    right: 310px;
    top: 150px;
    z-index: 5;
}

.find-img.img-4 {
    max-height: 60vh;
    right: 80px;
    top: 80px;
    z-index: 5;
}


#find-tp .mb-3 label {
    display: block;
    margin-bottom: 8px;
    margin-top: 20px;
    font-weight: bold;
}


#find-card {
    border-radius: 25px;
    padding: 15px;
}

#find-btn {
    width: 100%;
    background: #007bff;
    color: white;
    border-radius: 25px;
    margin-bottom: 20px;
}

#find-btn:hover {
    background: white;
    color: #007bff;
    border: 1.5px solid #007bff;
}


#book-btn {
    width: 100%;
    border-radius: 25px;
    margin-bottom: 20px;
}

.select-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.select-inner {
    appearance: none;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    font-weight: 550;
    text-align: center;
    color: #007bff;
    background: white;
    border: 1px solid rgb(0, 21, 116);
    border-radius: 25px;
    padding: 8px 38px 8px 8px;
}

.material-symbols-rounded.drop-arrow {
    color: #007bff;
    position: absolute;
    font-variation-settings: 'FILL' 1;
    font-size: 1.9rem;
    transform: translate(-36px, 6px);
}

.find-card {
    max-width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.273);
    border-radius: 25px;
    border: 1px solid rgb(0, 21, 116);
    box-shadow: -2px 4px 4px rgba(43, 41, 41, 0.196);
    padding: 10px;
    z-index: 5;
}

#find-tp .container h2 {
    text-align: center;
    text-transform: capitalize;
}

#find-tp h4 {
    font-size: 1.4rem;
}

.material-symbols-outlined.search {
    position: absolute;
    font-size: 2rem;
    transform: translateX(-45px);
}

.bx-border-circle {
    position: absolute;
    font-size: 1.4rem;
    font-weight: 600;
    transform: translate(-45px, -5px);
}

.bx-rocket.one {
    position: absolute;
    font-size: 1.4rem;
    font-weight: 600;
    transform: translate(-45px, 0);
}

.bx-rocket.two {
    position: absolute;
    font-size: 1.4rem;
    font-weight: 600;
    transform: translate(10px, 0);
}


/* -------------- Booking Form Styling -------------- */

#booking-form {
    min-height: 100vh;
    background: whitesmoke;
}

#booking-form .container {
    padding-top: 100px;
}