/* -----Potential Design Ideas------ */

/* Icons:
    Fontawesome
    boxicons
    google icons
 */

/* Colour Palette */
title {
    color: rgb(255, 238, 124);
    color: rgb(255, 219, 141);
    color: rgb(247, 173, 0);
    color: rgb(251, 142, 0);
    color: rgb(255, 136, 16);
    color: rgb(68, 110, 193);
    color: rgb(0, 21, 116);
    background: linear-gradient(to bottom, rgb(255, 136, 16), rgb(238, 99, 18));
    background: linear-gradient(to bottom, rgb(251, 142, 0), rgb(255, 93, 44));

    color: #007bff;
    color: #96c9ff;
    color: #0056b3;
    color: rgb(10, 71, 107);
    color: #ffb703, #eae2b7,  #e5e5e5, #90e0ef, #00b4d8, #2a4a8a, #ffd066;

    color: #0F2043;
    color: #162F65;
    color: #E8AF30;
    color: #E8C766;
    color: #E7E6DD;
    color: #3361AC;
    color: #158fd1;

    background: rgb(255, 249, 229);
    background: rgb(246, 255, 220);

}


/* linear gradient combo */
#navbarNav .login-btn {
    background: linear-gradient(to bottom, rgb(244, 167, 0), rgb(247, 185, 0));
}

form .btn-primary:hover {
    background-color: #0056b3;
}


/* Show underline that expands when you hover */
.signup-text {
    color: rgb(0, 21, 116);
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.signup-text::after {
    content: '';
    position: absolute;
    height: 2.5px;
    left: 0;
    bottom: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: bottom right;
    background-color: rgb(0, 21, 116);
    transition: transform 0.2s ease-out;
}

.signup-text:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Another underline variant */
.signup-text {
    color: rgb(0, 21, 116);
    cursor: pointer;
    position: relative;
}

.signup-text::after {
    content: '';
    position: absolute;
    height: 2.5px;
    left: 0;
    bottom: 0;
    width: 0;
    background-color: rgb(0, 21, 116);
    transition: width 0.2s;
}

.signup-text:hover::after {
    width: 100%;
}


/* Box-border */
.signup-text {
    margin-left: 20px;
    background: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0,0,0, 0.2);
    padding: 5px 5px 5px 5px;
}