/* -------------- Imported Google Fonts -------------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

/* -------------- Client Dashboard Styling -------------- */

#client-dashboard {
    min-height: 100vh;
    background: rgb(255, 249, 229);
}

#client-dashboard .card {
    border-radius: 25px;
    padding: 30px;
}

#client-dashboard .col-sm {
    border-top: 1px solid #96c9ff;
    border-right: 1px solid #96c9ff;
    padding-top: 10px;
    padding-bottom: 10px;
}

#client-dashboard .material-symbols-outlined {
    display: inline-flex;
    vertical-align: middle;
    font-size: 2rem;
}




/* -------------- Tradesperson Dashboard Styling -------------- */

#tp-db {
    min-height: 60vh;
    width: 100vw;
    position: relative;
    background: rgb(255, 251, 239);
    overflow-x: hidden;
}

#tp-db .tool-img {
    max-width: 23vw;
}

#tp-db .title-text h2 {
    font-family: 'Bungee', sans-serif;
    font-size: 2.3rem;
    color: rgb(251, 142, 0);
    -webkit-text-stroke: 2px white;
    background: wheat;
    width: 500px;
}

#tp-dashboard {
    min-height: 150vh;
    width: 100vw;
    position: relative;
    background: rgb(255, 249, 229);
    overflow-x: hidden;
}

#tp-dashboard .container {
    width: 100%;
    height: 100vh;
}

#tp-dashboard .col-md-8 {
    position: relative;
}

#tp-dashboard .card {
    max-width: 100%;
    border: 2.5px solid rgb(247, 173, 0);
    border-radius: 25px 25px 25px 0;
    padding: 30px;
}

#tp-dashboard .card-title h4 {
    text-transform: capitalize;
    font-weight: 550;
    color: rgb(231, 161, 0);
}

#tp-dashboard .card-body h5 {
    text-transform: capitalize;
}

#tp-dashboard .card-body p {
    font-size: 1.13rem;
    font-weight: 500;
    margin-bottom: 30px;
}

#tp-dashboard .material-symbols-outlined {
    display: inline-flex;
    vertical-align: middle;
    margin-right: 15px;
    font-size: 2rem;
    font-variation-settings: 'FILL' 1; 
    color: rgb(251, 142, 0);
}

.tp-db-img {
    position: absolute;
}

.tp-db-img.img-1 {
    max-width: 30vw;
    right: 0;
}

.tp-db-img.img-2 {
    max-width: 20vw;
    bottom: 250px;
    right: 140px;
}