/* -------------- Imported Google Fonts -------------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

/* -------------- Client Dashboard Styling -------------- */

#c-db {
    min-height: 50vh;
    width: 100vw;
    position: relative;
    background: rgb(255, 251, 239);
    overflow: hidden;
}

#c-db .col-md-4 {
    height: 100%;
    width: 30%;
}

#c-db .col-md-8 {
    height: 100%;
    width: 70%;
}

#c-db .title-text h2 {
    position: relative;
    font-family: 'Bungee', sans-serif;
    font-size: 2.3rem;
    color: #0092e1;
    -webkit-text-stroke: 2px white;
    background: #d8ebff;
    width: 500px;
    z-index: 2;
}

.house-img {
    max-width: 20vw;
    transform: translateX(30px);
}

#c-db .speech-bubble {
    background: aliceblue;
    border: 2.5px solid #96c9ff;
}

#client-dashboard {
    min-height: 100vh;
    background: rgb(255, 249, 229);
    overflow: hidden;
    z-index: 0;
}

#client-dashboard .container {
    z-index: 1;
}

#client-dashboard .card {
    background: white;
    border: 2.5px solid #96c9ff;
    border-radius: 25px;
    padding: 30px;
    z-index: 2;
}

#client-dashboard .col-sm {
    border-top: 1px solid #96c9ff;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#client-dashboard .col-sm.title {
    color: rgb(0, 21, 116);
    background: whitesmoke;
}

#client-dashboard .card-title h4 {
    color: rgb(0, 21, 116);
}

#client-dashboard .title-text h3 {
    font-family: 'Bungee', sans-serif;
    font-size: 2rem;
    color: #0092e1;
    -webkit-text-stroke: 2px white;
    background: #d8ebff;
    width: 500px;
}

#client-dashboard .material-symbols-outlined {
    display: inline-flex;
    vertical-align: middle;
    font-size: 2rem;
}

#client-instructions {
    min-height: 50vh;
    background: rgb(255, 251, 239);
}

#client-instructions .card {
    background: white;
    border: 2.5px solid #96c9ff;
    border-radius: 25px 25px 25px 0;
    padding: 30px;
}

#client-instructions .card-title h4 {
    text-transform: capitalize;
    font-weight: 550;
    color: #0092e1;
}

#client-instructions .card-body p {
    font-size: 1.13rem;
    font-weight: 500;
    margin-bottom: 30px;
}

#client-instructions .material-symbols-outlined {
    font-size: 2rem;
    font-variation-settings: 'FILL' 1;
    color: rgb(247, 173, 0);
    display: inline-flex;
    vertical-align: middle;
    margin-right: 10px;
}

.ins-img.img-1 {
    max-width: 27vw;
}

.ins-img.img-2 {
    max-width: 20vw;
}




/* -------------- Tradesperson Dashboard Styling -------------- */

#tp-db {
    min-height: 50vh;
    width: 100vw;
    position: relative;
    background: rgb(255, 251, 239);
    overflow-x: auto;
}

#tp-db .col-md-4 {
    height: 100%;
    width: 30%;
}

#tp-db .col-md-8 {
    height: 100%;
    width: 70%;
}

#tp-db .tool-img {
    max-width: 23vw;
    transform: translateX(20px);
}

#tp-db .title-text h2 {
    font-family: 'Bungee', sans-serif;
    font-size: 2.3rem;
    color: rgb(251, 142, 0);
    -webkit-text-stroke: 2px white;
    background: wheat;
    width: 500px;
}

#tp-db .row {
    display: flex;
    flex-direction: row;
}

.speech-bubble {
    height: auto;
    border-radius: 25px 25px 25px 0;
    padding: 30px;
    z-index: 3;
}

#tp-db .speech-bubble {
    background: rgba(247, 173, 0, 0.2);
    border: 2.5px solid rgb(247, 173, 0);
}

#tp-dashboard {
    min-height: 150vh;
    width: 100vw;
    position: relative;
    background: rgb(255, 249, 229);
    overflow-x: hidden;
}

#tp-dashboard .container {
    width: 100%;
    height: 100vh;
}

#tp-dashboard .col-md-8 {
    position: relative;
}

#tp-dashboard .card {
    max-width: 100%;
    border: 2.5px solid rgb(247, 173, 0);
    border-radius: 25px 25px 25px 0;
    padding: 30px;
}

#tp-dashboard .card-title h4 {
    text-transform: capitalize;
    font-weight: 550;
    color: rgb(231, 161, 0);
}

#tp-dashboard .card-body h5 {
    text-transform: capitalize;
}

#tp-dashboard .card-body p {
    font-size: 1.13rem;
    font-weight: 500;
    margin-bottom: 30px;
}

#tp-dashboard .material-symbols-outlined {
    display: inline-flex;
    vertical-align: middle;
    margin-right: 15px;
    font-size: 2rem;
    font-variation-settings: 'FILL' 1; 
    color: rgb(251, 142, 0);
}

.tp-db-img {
    position: absolute;
}

.tp-db-img.img-1 {
    max-width: 30vw;
    right: 0;
}

.tp-db-img.img-2 {
    max-width: 20vw;
    bottom: 250px;
    right: 140px;
}

@media (max-width: 768px) {
    .tp-db-img.img-2 {
        right: 350px;
        bottom: -400px;
    }
}