/* Electrician */

#electrician-section {
    position: relative;
    min-height: 100vh;
    width: 100vw;
    background: rgb(173, 216, 230);
    z-index: 0;
}

#electrician-section .container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
}

#electrician-section .card {
    position: relative;
    height: 80vh;
    width: 80vw;
    background: linear-gradient(to left, #e0ffff, #b0e0e6, #add8e6);
    border: none;
    border-radius: 25px;
    margin-top: 85px;
    z-index: 2;
}

#electrician-section .content {
    position: absolute;
    bottom: 120px;
    right: 50px;
    background: #F5F5F5;
    height: 45vh;
    width: 47vw;
    border-radius: 25px;
    padding: 30px;
    overflow-y: auto;
    z-index: 5;
}

#electrician-section .content h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.75rem;
}

#electrician-section .content p {
    font-size: 1rem;
    font-weight: 420;
}

#electrician-section .container img {
    position: absolute;
    left: 80px;
    bottom: 60px;
    max-height: 65vh;
    height: auto;
    border-radius: 50px;
    z-index: 3;
}

#electrician-services-section {
    background: whitesmoke;
}

/* iPad Pro */
@media (max-width: 1024px) {
    #electrician-section .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #electrician-section .card {
        width: 95vw;
        height: 95vh;
        margin-top: 25px;
    }

    #electrician-section .content {
        width: 83%;
        height: 35%;
        left: 80px;
        bottom: 40px;
        padding: 40px;
    }

    #electrician-section .content h3 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 1.7rem;
    }

    #electrician-section .content p {
        font-size: 1.4rem;
    }

    #electrician-section .container img {
        height: 60%;
        border-radius: 15px;
        top: 80px;
        left: 85px;
    }
}

/* iPad Mini */
@media (max-width: 768px) {
    #electrician-section .content {
        left: 60px;
        bottom: 40px;
        width: 83%;
        height: 41.5%;
    }

    #electrician-section .content h3 {
        font-size: 1.5rem;
    }

    #electrician-section .content p {
        font-size: 1.1rem;
    }

    #electrician-section .container img {
        top: 60px;
        left: 60px;
        border-radius: 20px;
    }
}

/* iPhone 13 */
@media (max-width: 390px) {
    #electrician-section .container {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    #electrician-section .card {
        width: 100vw;
        height: 100vh;
        opacity: 0;
    }

    #electrician-section .content {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 61%;
    }

    #electrician-section .content h3 {
        font-size: 1.35rem;
    }

    #electrician-section .content p {
        font-size: 1rem;
    }

    #electrician-section .container img {
        height: 44.9%;
        top: 0;
        left: 0;
        border-radius: 20px;
    }

}
