#forgot-password {
    position: relative;
    max-width: 450px;
    width: 100%;
    height: auto;
    background: white;
    border-radius: 35px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border: 6px solid #90e0ef;
    text-transform: capitalize;
    font-weight: 500;
    padding: 40px;
    text-align: center;
}

#reset-password {
    position: relative;
    max-width: 450px;
    width: 100%;
    height: auto;
    background: white;
    border-radius: 35px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border: 6px solid #90e0ef;
    text-transform: capitalize;
    font-weight: 500;
    padding: 40px;
    text-align: center;
}


.flash-messages {
    margin-top: 10px;
    text-align: center;
}
.alert-error {
    background-color: #d20011;
    color: #fff;
    font-weight: 550;
    padding: 10px;
    border-radius: 5px;
}

