/* -------------- Plumbing Services -------------- */

#plumbing-section {
    min-height: 100vh;
    width: 100vw;
    background: rgb(255, 249, 229);
    z-index: 1;
}

#plumbing-section .container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#plumbing-section .card {
    position: relative;
    height: 80vh;
    width: 80vw;
    background: linear-gradient(to left, rgb(255, 150, 93), rgb(255, 167, 60), rgb(255, 249, 229));
    border: none;
    border-radius: 25px;
    margin-top: 40px;
    z-index: 2;
}

#plumbing-section .content {
    position: absolute;
    background: whitesmoke;
    height: 42vh;
    width: 41vw;
    border-radius: 25px;
    padding: 30px;
    transform: translate(-30px, 15px);
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}

#plumbing-section .content h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.75rem;
}

#plumbing-section .content p {
    font-size: 1rem;
    font-weight: 420;
}

#plumbing-section .container img {
    position: absolute;
    top: 155px;
    left: 55px;
    width: 47vw;
    border-radius: 50px;
    z-index: 3;
}




/* Selecting the id="example-section" allows us to add styling to the entire section */
/* The # (hash) before the id name lets CSS know that you are selecting the element with id="example-section"*/
#plumbing-services-section {
    min-height: 150vh;                /* Setting the height to 100vh ensures the section spans the entire height of the screen - vh is short for viewport height. */
    background: rgb(255, 251, 237); 
    overflow-y: auto;
}

/* To add styling to the card, we have to specify which id or class this card is from (#example-section) */
/* class="card" -> A class is selected by writing it as .class (full-stop before the class name) */
#plumbing-services-section .card {
    width: 300px;                /* Set a width (unchanging) or a maximum-width (more responsive when you minimise the screen size) to the card */
    height: auto;
    background: white;
    color: black;              /* Unlike background or background-color, 'color' sets the text-color*/
    text-align: center;          /* Aligns text inside the card to the center */
    box-shadow: -7px 7px rgb(253, 200, 100);
    border-radius: 25px;
}

#plumbing-services-section .col-sm {
    display: flex;               /* Turns .col-sm into a flexbox container */
    flex-direction: row;         /* Lays out the items inside the flexbox container (cards) in a horizontal row */
    justify-content: center;     /* Centers the items horizontally */
    align-items: flex-start;
    gap: 50px;                   /* Adds space (gap) between the items in the flexbox container – i.e. gap between cards. */
    flex-wrap: wrap;
}

/* We are specifically targeting the h3 heading of each card */
#plumbing-services-section .card h3 {
    margin-top: 20px;            /* Adds a margin to the top of the heading */
    font-size: 1.2rem;           /* 1rem = 16px */
    text-transform: capitalize;           /* Capitalises all h3 headings in the card */
}

#plumbing-services-section .card p {
    font-size: 0.9rem;
}

/* Now we're editing the dimensions of the images in each card */
#plumbing-services-section .card img {
    border-radius: 25px 25px 0px 0px;     /* Making the top left and top right edges curved */
    width: 100%;                          /* Making the width span the length of the card */
    height: auto;                         /* Setting height to automatic */
}

/* Editing the container that contains both the 3 cards and the bottom box. */
.plumbing-wrapper {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px
}

#plumbing-services-section .text-content {
    padding: 0 20px 20px 20px;
}
