/* -------------- Imported Google Fonts -------------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');


/* -------------- General Styling -------------- */
* {
    font-family: 'Montserrat', sans-serif;
}

footer {
    padding: 15px;
    color: rgb(0, 21, 116);
    font-weight: 500;
    background: wheat;
}

.footer-item {
    list-style: none;
}

.footer-link {
    text-decoration: none;
    color: rgb(0, 21, 116);
}

/* ------Front Page------ */

#hero-section {
    padding-top: 250px;
}

#hero-section h1 {
    color: rgb(0, 21, 116);
    font-family: 'Bungee', sans-serif;
    text-transform: capitalize;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
}

#hero-section h4 {
    color: rgb(0, 21, 116);
    font-weight: 600;
    font-size: 1.3rem;
    text-transform: capitalize;
    background: rgb(253, 222, 98);
    box-shadow: 0 4px 8px rgba(0,0,0, 0.2);
    box-sizing: border-box;
    border-radius: 20px;
    border: 3px solid rgb(0, 21, 116);
    padding: 6px 21px 6px 21px;
    display: inline-block;
}

#hero-section i {
    color: #158fd1;
    font-size: 2.9rem;
    padding-right: 15px;
}

.hero-img {
    position: absolute;
    height: auto;
    overflow: hidden;
}

.hero-img.img-1 {
    top: -60px; 
    right: -30px; 
    width: 700px; 
    opacity: 0.8;
    z-index: 1;  
}

.hero-img.img-2 {
    bottom: 10px; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 600px; 
    opacity: 0.9; 
    z-index: 2;
}


/* -------------- Navbar Styling -------------- */
/* --- Logo --- */
.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    height: 50px;
    width: auto;
}

.navbar-brand h2 {
    font-family: 'Bungee', sans-serif;
    font-size: 1.5rem;
    color: #fcc332;
    text-shadow: 3px 3px 8px rgba(38, 28, 0, 0.43);
    -webkit-text-stroke: 1.5px rgb(0, 21, 116);

}

@media (min-width: 992px) {
    #navbarNav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

.navbar {
    align-items: center;
}

.sticky-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 1000;
}

.navbar-nav {
    align-items: center;
    font-size: 1.05rem;
    font-weight: 600;
}

.nav-item {
    margin-right: 20px;
    margin-left: 20px;
}

.nav-link {
    color: rgb(0, 21, 116);
    transition: background 0.3s border-radius 0.3s;
    border-radius: 20px;
}

.navbar-nav .nav-link:hover {
    background: rgb(255, 247, 199);
}

.bxs-chevron-down-circle {
    margin-right: 3px;
}

#navbarNav .login-btn {
    border-radius: 20px;
    padding: 4px 20px 5px 20px;
    background: linear-gradient(to bottom, rgb(244, 167, 0), rgb(247, 185, 0));
    color: white;
    border-color: white;
    font-weight: 600;
    margin-left: 8px;
}

#navbarNav .login-btn:hover {
    background: linear-gradient(to bottom, rgb(251, 142, 0), rgb(255, 108, 45));
}

.navbar-nav p {
    margin-top:16px;
}

.signup-text {
    color: rgb(0, 21, 116);
    text-decoration: underline;
}


.drop-down {
    list-style: none;
    background: rgb(255, 247, 199);
    box-shadow: 0 4px 8px rgba(0,0,0, 0.2);
    border-radius: 20px;
    padding: 8px 30px;
    cursor: pointer;
    position: absolute;
    display: none;
    overflow-y: visible;
    z-index: 1050;
}

.dropdown-item {
    font-size: 1rem;
    font-weight: 600;
    color: black;
}

.dropdown {
    position: relative;
}

.dropdown:hover .drop-down {
    display: block;
}

.dropdown-item:hover {
    background: rgba(251, 142, 0, 0.517);
}

.login-btn i {
    margin-right: 4px;
    font-size: 1.1rem;
}




/* -------------- Login Form Styling -------------- */
.form-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 60vh;
    width: 100%;
    max-width: 750px;
    background: white;
    border: 6px solid #90e0ef;
    border-radius: 50px;
    transform: translate(-50%, -100%);
    opacity: 0;
    pointer-events: none;
    overflow-y: auto;
    z-index: 1050;
}

.blur-bg-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:1040;
    backdrop-filter: blur(5px);
    opacity: 0;
    pointer-events: none;
    transform: 0.1s ease;
}

.show-popup .blur-bg-overlay {
    opacity: 1;
    pointer-events: auto;
}

.form-popup.show-popup {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, opacity 0.1s;
}

.form-popup .form-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.form-content h2 {
    font-size: 1.4rem;
    font-weight: 600;
}

.form-box .form-details {
    max-width: 340px;
    color: white;
    text-align: center;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
}


.form-box .form-details h2 {
    text-transform: capitalize;
}

.form-box h2 {
    text-align: center;
}

.form-box .form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 35px;
}

.form-box .form-content a {
    text-decoration: none;
}  

.form-box .form-content h2 {
    margin-bottom: 20px;
}  

form .input-field {
    position: relative;
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
}

form .input-field input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 0.95rem;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 0px 15px;
    box-sizing: border-box;
}

.input-field input:not(:placeholder-shown) + label {
    opacity: 0;
    visibility: hidden;
}

.input-field input:focus {
    border-color:rgb(0, 170, 255);
}

form .input-field label {
    position: absolute;
    top: 50%;
    left: 15px;
    color: gray;
    pointer-events: none;
    transform: translateY(-50%);
    transition: 0.2s ease;
}

form .btn-primary {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background-color: #007bff;
    color: white;
    font-size: 0.95rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form .btn-primary:hover {
    background-color: rgb(0, 21, 116);
}

.form-popup .close-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    color: rgb(33, 33, 33);
    cursor: pointer;
}


/* -------------- Home Page -------------- */
#about-section {
    position: relative;
    overflow: hidden;
    height: 100vh;
    background-color: whitesmoke;
    overflow: hidden;
}

#about-section .container {
    position: relative;
    z-index: 10;
    padding-top: 80px;
}

.about-img {
    position: absolute;
    width: auto;
}

/* Image of 2 tradespeople */
.about-img.img-1 {
    height: 52vh;
    top: 0;
    right: 130px;
    z-index: 5;
}

/* Abstract Shape: Indigo */
.about-img.img-2 {
    height: 55vh;
    top: 0;
    right: 30px;
    opacity: 0.6;
    z-index: 2;
}

/* Abstract Shape: Yellow */
/* .about-img.img-3 {
    height: 48vh;
    top: 1000px;
    right: 480px;
    opacity: 0.9;
    z-index: 2;
} */

/* Abstract Shape: Blue */
.about-img.img-4 {
    height: 40vh;
    top: 100px;
    right: 230px;
    opacity: 0.6;
    z-index: 1;
}

/* Abstract Shape: Blue */
/* .about-img.img-4 {
    height: 47vh;
    top: 970px;
    right: 150px;
    opacity: 0.8;
    z-index: 1;
} */

/* Decoration: Dotted Line */
/* .about-img.img-5 {
    height: 20vh;
    top: 450px;
    left: 0;
    z-index: 4;
} */

/* Logo: Drill */
.about-img.img-6 {
    height: 75px;
    top: 0;
    left: 70px;
    z-index: 1;
}

/* Logo: Hammer-Wrench */
.about-img.img-7 {
    height: 75px;
    transform: translateY(490px);
    right: 60px;
    z-index: 1;
}
 /* Decoration: orange circle left */
.about-img.img-8 {
    height: 250px;
    left: 0;
    transform: translate(-20px, 250px);
    opacity: 0.8;
    z-index: 1;
}

 /* Decoration: orange circle right */
.about-img.img-9 {
    height: 180px;
    right: 0;
    top: 0;
    opacity: 0.5;
    z-index: 1;
}

.about-wrapper {
    position: relative;
}

.about-wrapper .col-sm-8 {
    position: relative;
}

.image-stack {
    position: relative;
    height: 100%;
}

.about-wrapper .col-sm-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    top: 0;
    left: 0;
}

.about-wrapper .card {
    text-align: center;
    padding: 10px;
    width: 100%;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 20px;
    background: white;
    border-radius: 25px;
    border: 1px solid rgb(255, 200, 152);
    box-shadow: -10px 10px rgb(255, 173, 86);
    transform: translate(150px, 80px);
    z-index: 3;
}

.about-wrapper .card h4 {
    text-transform: capitalize;
    margin-bottom: 10px;
}

.review-container {
    min-width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
}

.review-container .card {
    position: absolute;
    width: 60%;
    height: 16vh;
    bottom: 20px;
    background: rgb(251, 142, 0);
    border: 1px solid rgb(251, 142, 0);
    border-radius: 5px;
    color: black;
    padding: 20px;
}

.review-container .card p {
    text-transform: capitalize;
}


/* -------------- Services Section -------------- */
#services-section {
    height: 100vh;
    background-color: aliceblue;
}