/* -------------- Imported Google Fonts -------------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

/* -------------- General Styling -------------- */
* {
    font-family: 'Montserrat', sans-serif;
}

footer {
    padding: 15px;
    color: rgb(0, 21, 116);
    font-weight: 500;
    background: wheat;
}

.footer-item {
    list-style: none;
}

.footer-link {
    text-decoration: none;
    color: rgb(0, 21, 116);
}

#hero-section {
    padding-top: 250px;
    height: auto;
    position: relative;
    overflow-y:unset;
}

#hero-section h1 {
    color: rgb(0, 21, 116);
    font-family: 'Bungee', sans-serif;
    text-transform: capitalize;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
}

#hero-section h4 {
    color: rgb(0, 21, 116);
    font-weight: 600;
    font-size: 1.3rem;
    text-transform: capitalize;
    background: rgb(253, 222, 98);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    border-radius: 20px;
    border: 3px solid rgb(0, 21, 116);
    padding: 6px 21px 6px 21px;
    display: inline-block;
}

#hero-section i {
    color: #158fd1;
    font-size: 2.9rem;
    padding-right: 15px;
}

.hero-img {
    position: absolute;
    width: 200px;
    height: auto;
}

.hero-img.img-1 {
    top: 90px;
    right: 500px;
    z-index: 3;
}

.hero-img.img-2 {
    top: 92px;
    right: 502px;
    z-index: 2;
    opacity: 0.4;
}


/* -------------- Navbar Styling -------------- */
/* --- Logo --- */
.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    height: 50px;
    width: auto;
}

.navbar-brand h2 {
    font-family: 'Bungee', sans-serif;
    font-size: 1.5rem;
    color: #fcc332;
    text-shadow: 3px 3px 8px rgba(38, 28, 0, 0.43);
    -webkit-text-stroke: 1.5px rgb(0, 21, 116);

}

@media (min-width: 992px) {
    #navbarNav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

.navbar {
    align-items: center;
}

.sticky-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 1000;
}

.navbar-nav {
    align-items: center;
    font-size: 1.05rem;
    font-weight: 600;
    padding-right: 40px;
}

.nav-item {
    margin-right: 20px;
    margin-left: 20px;
}

.nav-link {
    background-color: rgb(253, 222, 98);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    color: rgb(0, 21, 116);
    transition: background 0.3s border-radius 0.3s;
    border-radius: 20px;
}

.navbar-nav .nav-link:hover {
    background: rgb(255, 247, 199);
    box-shadow: 0 4px 8px rgba(0,0,0, 0.2);
}

.bxs-rocket {
    margin-right: 3px;
}

.bxs-chevron-down-circle {
    margin-right: 3px;
}

.drop-down {
    list-style: none;
    background: rgb(255, 247, 199);
    box-shadow: 0 4px 8px rgba(0,0,0, 0.2);
    border-radius: 20px;
    padding: 8px 30px;
    cursor: pointer;
    position: absolute;
    display: none;
    overflow-y: visible;
    z-index: 1050;
}

.dropdown-item {
    font-size: 1rem;
    font-weight: 600;
    color: black;
}

.dropdown {
    position: relative;
}

.dropdown:hover .drop-down {
    display: block;
}

.dropdown-item:hover {
    background: rgba(251, 142, 0, 0.517);
}



/* ------ Registration Forms Styling ------- */

/* Outer box */
.main-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding-right: 30px;
}

@media (max-width: 785px) {
    .main-wrapper {
        flex-wrap: wrap;
    }
}

/* Signup form box */
#client-signup {
    position: relative;
    width: 100%;
    max-width: 400px;
    background: white;
    border-radius: 35px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border: 6px solid rgb(255, 238, 124);
    text-transform: capitalize;
    font-weight: 500;
    padding: 40px;
    text-align: center;
    margin-top: -60px;
    transform: translateX(-60px);
}

#tradesperson-signup h2,
#client-signup h2 {
    margin-bottom: 20px;
}

form .input-field {
    position: relative;
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
}

form .input-field input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 0.95rem;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 0px 15px;
    box-sizing: border-box;
}


.input-field input:focus {
    border-color:rgb(0, 170, 255);
}

form .input-field label {
    position: absolute;
    top: 50%;
    left: 15px;
    color: gray;
    pointer-events: none;
    transform: translateY(-50%);
    transition: 0.2s ease;
}

form .btn-primary {
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    background-color: #007bff;
    color: white;
    font-size: 0.95rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



#tradesperson-signup {
    position: relative;
    width: 100%;
    max-width: 450px;
    background: white;
    border: 6px solid #fcc027;
    border-radius: 35px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    height: auto;
    text-transform: capitalize;
    font-weight: 500;
    padding: 40px;
    text-align: center;
    margin-top: -80px;
    transform: translateX(-30px);
}

