/* -------------- Lawn Care Services -------------- */

#lawncare-section {
    height: 100vh;
    background: rgb(255, 249, 229);
    z-index: 1;
}

#lawncare-section .container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#lawncare-section .card {
    position: relative;
    height: 80vh;
    width: 80vw;
    background: linear-gradient(to left, rgb(125, 218, 151), rgb(159, 226, 137), rgb(255, 249, 229));
    border: none;
    border-radius: 25px;
    margin-top: 10px;
    z-index: 2;
}

#lawncare-section .content {
    position: absolute;
    background: whitesmoke;
    height: 42vh;
    width: 41vw;
    border-radius: 25px;
    padding: 30px;
    transform: translate(-30px, 15px);
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0.95;
}

#lawncare-section .content h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}


#lawncare-section .container img {
    position: absolute;
    left: 55px;
    width: 50vw;
    border-radius: 50px;
    z-index: 3;
}

