{% extends "layout.html" %}
{% block body_content %}

<section id="find-tp">
    <div class="container pt-5">
        <form method="POST" action="{{ url_for('find_tradesperson') }}">
            <div class="mb-3">
                <label>What task do you need helping with?</label>
                <select name="task">
                    <option value="">-- Any --</option>
                    {% for task in tasks %}
                     <option value="{{ task[0] }}">{{ task[0] }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label>Which location?</label>
                <select name="location">
                    <option value="">-- Any --</option>
                    {% for town in towns %}
                    <option value="{{ town[0] }}">{{ town[0] }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label>Hourly rate:</label>
                <select name="hourly_rate">
                    <option value="">-- No Preference --</option>
                    <option value="ASC">Lowest to Highest</option>
                    <option value="DESC">Highest to Lowest</option>
                </select>
            </div>

            <div class="mb-3">
                <label>Rating:</label>
                <select name="star_rating">
                    <option value="">-- No Preference --</option>
                    <option value="ASC">Lowest to Highest</option>
                    <option value="DESC">Highest to Lowest</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary btn-block">Find My Tradesperson</button>
        </form>
        
        {% if results %}
            <h2>Results:</h2>
            <ul>
                {% for r in results %}
                    <li>
                        <strong>{{ r.full_name }}</strong><br>
                        Task: {{ r.task_name }}<br>Town: {{ r.town }}<br>Rate: £{{ r.hourly_rate }}<br>
                        Rating: {{ r.average_rating or 'N/A' }} ({{ r.total_reviews }} reviews)<br>
                        Bio: {{ r.bio }}<br>
                        <form action="{{ url_for('book_service') }}" method="POST">
                            <input type="hidden" name="worker_id" value="{{ r.workerID }}">
                            <input type="hidden" name="task_id" value="{{ r.taskID }}">
                            <input type="hidden" name="town_id" value="{{ r.townID }}">
                            <button type="submit">Book This Tradesperson</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</section>

{% endblock %}
