{% extends "layout.html" %}
{% block body_content %}

<section id="client-dashboard">
    <div class="container pt-5">
        <div class="title-text">
            <h3>{{ name }}'s bookings</h3>
        </div>
        <br>
        <div class="card">
            <br>
            <div class="card-title">
                <h4><span class="material-symbols-outlined">check_box</span> Booking History</h4>
            </div>
            <div class="card-body">
                <div data-aos="fade-right" class="row">
                    <div class="col-sm title">
                        <p><strong>Date of Booking</strong></p>
                    </div>
                    <div class="col-sm title">
                        <p><strong>Name of Tradesperson</strong></p>
                    </div>
                    <div class="col-sm title">
                        <p><strong>Task</strong></p>
                    </div>
                    <div class="col-sm title">
                        <p><strong>Start Date</strong></p>
                    </div>
                    <div class="col-sm title">
                        <p><strong>End Date</strong></p>
                    </div>
                    <div class="col-sm title">
                        <p><strong>Task Description</strong></p>
                    </div>
                    <div class="col-sm title" style="border-right: none; text-transform: capitalize;">
                        <p><strong>Status</strong></p>
                    </div>
                </div>
                {% for booking in bookings %}
                <div data-aos="fade-right" class="row">
                    <div class="col-sm">
                        <p><strong>{{ booking.booking_date }}<br><br>Booking ID: {{ booking.bookingID }}</strong></p>
                    </div>
                    <div class="col-sm">
                        <p>{{ booking.tp_full_name }}</p>
                    </div>
                    <div class="col-sm">
                        <p>{{ booking.task_name }}</p>
                    </div>
                    <div class="col-sm">
                        <p>{{ booking.ss_date }}</p>
                    </div>
                    <div class="col-sm">
                        <p>{{ booking.se_date }}</p>
                    </div>
                    <div class="col-sm">
                        <p>{{ booking.task_description }}</p>
                    </div>
                    <div class="col-sm" style="border-right: none; text-transform: capitalize; display: flex; flex-direction: column;">
                        <p><strong>{{ booking.status }}</strong></p>
                        {% if booking.status == 'completed' %}
                            <a href="{{ url_for('reviews')}}">
                                <button class="review-btn" type="button"><span class="material-symbols-outlined">star_half</span> Post Review </button>
                            </a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <br>
    <br>
</section>

{% endblock %}