{% extends "layout.html" %}
{% block body_content %}

<section id="electrician-section">
    <div class="container pt-5">
        <h1>We're your trusted local electricians</h1>

        <p>Dedicated to providing safe, reliable, and high-quality electrical services for homes across West Lothian. Our team of qualified and friendly electricians are experts in everything from simple repairs to complex installations. We pride ourselves on our prompt service, clear communication, and commitment to getting the job done right the first time.

        <p>Why Choose Home Heroes?</p>

        <p>Local & Trusted: We live and work in your community.
        Qualified Professionals: Fully licensed and insured electricians.
        Reliable Service: Punctual, efficient, and dependable.
        Safety First: Your safety is our top priority.
        Transparent Pricing: No hidden fees, just honest quotes.</p>

        <h2>Need an Electrical Hero? Contact Us Today for a Free Quote! </h2>
    </div>


</section>


{% endblock %}