{% extends "layout.html" %}
{% block body_content %}

<section id="about-section">
    <div class="container">
        <h6>who are we?</h6>
        <h3>My Home Heroes is your platform to find the best handymen and women to help you with friendly fixes and build a comfortable, quality life.</h3>
    </div>
    <div class="row about-wrapper">
        <div class="col-12 col-sm-4">
            <div class="card">
                <p>We believe every home deserves a helping hand. Whether you need a painter, a plumber, a mover, or a mounting wizard, 
                    we connect property owners with trusted local pros who get the job done right. No stress, no fuss — just real people ready to help. 
                    Tell us your concern and we'll find you an available handy person in your area.</p>
            </div>
            <img class="about-img img-6" src="{{ url_for('static', filename= '/logo/drill.png') }}" alt="Abstract shape.">
        </div>
        <div class="col-12 col-sm-8">
            <div class="image-stack">
                <img class="about-img img-1" src="{{ url_for('static', filename= '/images/medium3.png') }}" alt="Two handy people wearing construction hats and vests.">
                <img class="about-img img-2" src="{{ url_for('static', filename= '/decoration/blue.png') }}" alt="Abstract shape.">
                <!-- <img class="about-img img-3" src="{{ url_for('static', filename= '/decoration/yellow.png') }}" alt="Abstract shape."> -->
                <img class="about-img img-4" src="{{ url_for('static', filename= '/decoration/lightblue.png') }}" alt="Abstract shape.">
                <!-- <img class="about-img img-5" src="{{ url_for('static', filename= '/decoration/dot.png') }}" alt="Dotted line decoration."> -->
                <img class="about-img img-7" src="{{ url_for('static', filename= '/logo/hammer_orange.png') }}" alt="Abstract shape.">
            </div>
        </div>
    </div>
</section>
{% endblock %}