{% extends "layout.html" %}
{% block body_content %}

<section id="about-section">
    <div class="row first-row">
        <div class="col-12 column-top">
            <div class="container">
                <h5>who are we?</h5>
                <div class="typing-text">
                    <h3>
                        <span class="line-1">My Home Heroes is your platform to find the best handymen and women to help you</span>
                        <br>
                        <span class="line-2">with friendly fixes and build a comfortable, quality life.</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row second-row">
        <div class="col-lg column-left">
            <div class="card">
                <h4><strong>company ethos</strong></h4>
                <p>We believe every home deserves a helping hand. Whether you need a painter, a plumber, a mover, or a mounting wizard, 
                    we connect property owners with trusted local pros who get the job done right. No stress, no fuss — just real people ready to help. 
                    Tell us your concern and we'll find you an available handy person in your area.</p>
            </div>
            <img class="about-img img-6" src="{{ url_for('static', filename= '/logo/drill.png') }}" alt="Abstract shape.">
            <img class="about-img img-7" src="{{ url_for('static', filename= '/decoration/circle_orange.png') }}" alt="Abstract shape.">
        </div>

        <div class="col-lg column-right">
                <img data-aos="fade-up" class="about-img img-1" src="{{ url_for('static', filename= '/images/medium3.png') }}" alt="Two handy people wearing construction hats and vests.">
                <img class="about-img img-2" src="{{ url_for('static', filename= '/decoration/blue.png') }}" alt="Abstract shape.">
                <img class="about-img img-3" src="{{ url_for('static', filename= '/decoration/lightblue.png') }}" alt="Abstract shape.">
                <img class="about-img img-4" src="{{ url_for('static', filename= '/logo/hammer_orange.png') }}" alt="Abstract shape.">
                <img class="about-img img-5" src="{{ url_for('static', filename= '/decoration/circle_orange.png') }}" alt="Abstract shape.">
        </div>
    </div>

    <div class="row third-row">
        <div class="col-12">
            <div class="statistic-content">
                <div class="card">
                    <div class="row">
                        <div class="col-md" style="border-right: 1px solid black;">
                            <h3><strong>1.5k+</strong></h3>
                            <p>satisfied customers</p>
                        </div>
                        <div class="col-md" style="border-right: 1px solid black;">
                            <h3><strong>3k+</strong></h3>
                            <p>tasks completed</p>
                        </div>
                        <div class="col-md">
                            <h3><strong>450</strong></h3>
                            <p>members in our team</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="how-section">
    <div class="container pt-5">
        <img data-aos="fade-right" src="{{ url_for('static', filename= 'images/drill2.png' )}}" alt="">
        <div class="card"></div>
        <div class="content">
            <h3>How it works</h1>
            <p data-aos="fade-up"><span class="material-symbols-outlined filled-icon" style="opacity: 0.5;">counter_1</span>Create an account.</p>
            <p data-aos="fade-up"><span class="material-symbols-outlined filled-icon" style="opacity: 0.69;">counter_2</span>Choose a tradesperson by task & location.</p>
            <p data-aos="fade-up"><span class="material-symbols-outlined filled-icon" style="opacity: 0.85;">counter_3</span>Schedule a service date.</p>
            <p data-aos="fade-up"><span class="material-symbols-outlined filled-icon">counter_4</span>Chat, pay and leave a review.</p>
        </div>
    </div>
</section>

<section id="services-section">
    <div class="container pt-5">
        <h2>
            <span class="material-symbols-outlined" style="font-size: 2rem; display: inline-flex; vertical-align: middle; margin-right: 5px;">
                home_repair_service
            </span>
            Our Services
        </h2>
    </div>
    <br>
    <div class="services-wrapper">
        <div class="col-sm">
            <div class="card">
                <img src="{{ url_for('static', filename= 'images/Moving_background.png' )}}" alt="">
                <h3>Moving</h3>
               <a href="/services/moving"><button class="btn btn-primary">Learn More</button></a>
            </div>

            <div class="card">
                <img src="{{ url_for('static', filename= 'images/fix.jpeg' )}}" alt="">
                <h3>Home Repairs</h3>
                <a href="/services/home_repairs"><button class="btn btn-primary">Learn More</button></a>
            </div>

            <div class="card">
                <img src="{{ url_for('static', filename= 'images/et.jpeg' )}}" alt="">
                <h3>Electrician</h3>
                <a href="/services/electrician"><button class="btn btn-primary">Learn More</button></a>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <img src="{{ url_for('static', filename= 'images/plumber7.jpeg' )}}" alt="">
                <h3>Plumbing</h3>
               <a href="/services/plumbing"><button class="btn btn-primary">Learn More</button></a>
            </div>

            <div class="card">
                <img src="{{ url_for('static', filename= 'paints/rollers.jpeg' )}}" alt="">
                <h3>Painting</h3>
                <a href="/services/painting"><button class="btn btn-primary">Learn More</button></a>
            </div>

            <div class="card">
                <img src="{{ url_for('static', filename= 'images/lawn.jpg' )}}" alt="">
                <h3>Lawn Care</h3>
                <a href="/services/lawn_care"><button class="btn btn-primary">Learn More</button></a>
            </div>
        </div>

</section>


<section id="location-section">
    <div class="container pt-5">
        <img data-aos="fade-left" src="{{ url_for('static', filename= 'images/houses2.jpg' )}}" alt="">
        <div class="card"></div>
        <div class="content">
            <h3>Location <span class="material-symbols-outlined" style="font-variation-settings: 'FILL' 1; transform:translateY(2px)">{{ icon }}</span> </h3>
            <p>Based in Livingston, My Home Hero is rooted in the West Lothian community. 
                We’re proud to serve 8 towns across the council, bringing reliable home services right to your doorstep. 
                No matter where you are in West Lothian, a trusted local hero is nearby and ready to help.
            </p>
        </div>
    </div>
</section>


{% endblock %}