{% extends "layout.html" %}
{% block body_content %}

<section id="lawncare-section">
    <div class="container pt-5">
        <img data-aos="fade-right" src="{{ url_for('static', filename= 'images/gardening4.jpg' )}}" alt="">
        <div class="card"></div>
        <div class="content">
            <h3>Lawn Care Services <span class="material-symbols-outlined" style="font-variation-settings: 'FILL' 1; transform:translateY(2px)">{{ icon }}</span> </h3>
            <p>Not everyone was born with a green thumb — and that's okay.
                Sometimes, a tidy lawn or freshly mulched garden bed is all it takes to freshen up your green spaces.
                <br>At My Home Hero, we’re all about those little wins.
                Whether you need a little help sprucing up the front yard or a full backyard rescue mission,
                our garden pros will transform your outdoor spaces into places to spend time with family and friends.
            </p>
        </div>
    </div>
</section>

<section id="lawncare-services">
    <div class="container pt-5">
        <div class="text-content">
            <h2 style="text-transform: capitalize;">Services</h2>
            <hr>
        </div>

        <div class="container mt-4">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <img src="{{ url_for('static', filename='images/lawnmowing.jpeg') }}" alt="" class="img-fluid shadow">
                    <div class="text-body">
                        <p class="mt-2 text-center">we're not just cutting grass, <br> we're cutting edge</p>
                        <h4>lawnmowing</h4>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <img src="{{ url_for('static', filename='images/watering.jpeg') }}" alt="" class="img-fluid shadow">
                    <div class="text-body">
                        <p class="mt-2 text-center">Hydrating your outdoor spaces</p>
                        <h4>water systems & sprinkler installation</h4>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <img src="{{ url_for('static', filename='images/weedremoval.jpeg') }}" alt="" class="img-fluid shadow">
                    <div class="text-body">
                        <p class="mt-2 text-center">Weed it and weep</p>
                        <h4>Weed Removal</h4>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <img src="{{ url_for('static', filename='images/trimming.jpeg') }}" alt="" class="img-fluid shadow">
                    <div class="text-body">
                        <p class="mt-2 text-center">Sharp hedges, sharper looks</p>
                        <h4>Hedge Trimming</h4>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <img src="{{ url_for('static', filename='images/repotting.jpeg') }}" alt="" class="img-fluid shadow">
                    <div class="text-body">
                        <p class="mt-2 text-center">Give your plants a fresh start</p>
                        <h4>Repotting & Replanting</h4>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <img src="{{ url_for('static', filename='images/landscaping.jpeg') }}" alt="" class="img-fluid shadow">
                    <div class="text-body">
                        <p class="mt-2 text-center">Landscaping so good even your neighbour's jealous</p>
                        <h4>Landscaping</h4>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div data-aos="fade-right" class="text-banner">
            <h1>Green thumbs on the go!</h1>
            <h1><span class="material-symbols-outlined" style="font-size: 3rem">temp_preferences_eco</span></h1>
        </div>
        <br><br>
    </div>
</section>

{% endblock %}