<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'styles_register.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <script src="{{ url_for('static', filename= 'script.js') }}" defer></script>
        <title>{{ head|title }}</title>
    </head>

   <body>
        <nav class="navbar navbar-expand-lg sticky-top">
            <div class="container-fluid">
                <a href="#" class="navbar-brand">
                    <img src="{{ url_for('static', filename='logo/hero5.png')}}" alt="My Home Heroes logo displaying a hammer and screwdriver crossed together.">
                    <h2>My Home Heroes</h2>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle Navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navbarNav" class="collapse navbar-collapse">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        {% if request.path != '/' and request.path !='/home' %}
                        <li class="nav-item"><a href="/" class="nav-link active" aria-current="page" style="color: rgb(0, 21, 116);"><i class="bx bxs-rocket bx-tada-hover"></i>Back to Home Page</a></li>
                        {% else %}
                        <li class="nav-item"><a href="#head-section" class="nav-link active" aria-current="page" style="color: rgb(0, 21, 116);"><i class="bx bxs-rocket bx-tada-hover"></i>Back to Home Page</a></li>
                        {% endif %}
                        <li class="nav-item"><a href="/home" class="nav-link">About</a></li>
                        <li class="nav-item dropdown"><a class="nav-link" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class='bx bxs-chevron-down-circle'></i>Services</i></a>
                            <ul class="drop-down">
                                <li><a href="#" class="dropdown-item">Moving</a></li>
                                <li><a href="#" class="dropdown-item">Home Repairs</a></li>
                                <li><a href="#" class="dropdown-item">Electrician</a></li>
                                <li><a href="#" class="dropdown-item">Assembly & Installation</a></li>
                                <li><a href="#" class="dropdown-item">Lawn Care</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a href="#" class="nav-link">Reviews</a></li>
                    </ul>
                </div>
            </div>
        </nav>


        <section id="hero-section"
            style="
            background: url('{{ background_image }}');
            height: 100vh;
            width: auto;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;">
            <img class="hero-img img-1" src="{{ url_for('static', filename=img1) }}" alt="Decorative Arrow">
            <img class="hero-img img-2" src="{{ url_for('static', filename=img2) }}" alt="Decorative Arrow">
            {% block body_content %}
            {% endblock %}  
        </section>

        <footer>
            &copy; 2025 My Home Heroes | All Rights Reserved
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
   </body>

</html>