{% extends "layout.html" %}
{% block body_content %}

<section id="moving-section">
    <div class="container pt-5">
        <img data-aos="fade-right" src="{{ url_for('static', filename= 'images/dog_moving.jpg' )}}" alt="">
        <div class="card"></div>
        <div class="content">
            <h3>Moving Services <span class="material-symbols-outlined" style="font-variation-settings: 'FILL' 1; transform:translateY(2px)">{{ icon }}</span> </h3>
            <p>Not everyone has the time (or the back strength) to lift sofas and haul boxes — and that’s okay.
                Moving doesn’t have to be a headache.
                <br>At My Home Hero, we’re all about making your next chapter easier.
                    Whether you're heading across town or just down the street, our pros handle the heavy lifting so you can focus on settling in, not stressing out.
                    Let’s make your move a smooth one.
            </p>
        </div>
    </div>
</section>

<section id="moving-services-section">
    <div class="moving-wrapper">
        <div class="row">
            <div class="col-sm">
                <div data-aos="fade-up" class="card">
                    <img src="{{ url_for('static', filename= 'images/Packing.jpg' )}}" alt="">
                    <div class="text-content">
                        <h3>Packing</h3>
                        <p>That constant dripping sound isn't just annoying—it adds up on your water bill and can cause hidden damage. We'll fix or replace the faulty bits, and you’ll be back to silent sinks in no time.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div data-aos="fade-up" class="card">
                    <img src="{{ url_for('static', filename= 'images/Unloading.png' )}}" alt="">
                    <div class="text-content">
                        <h3>Unpacking</h3>
                        <p>Whether it’s a slow kitchen sink or a total bathroom backup, blocked drains can get messy fast. We use professional tools (and not just a bent wire hanger) to clear the blockage safely and efficiently.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div data-aos="fade-up" class="card">
                    <img src="{{ url_for('static', filename= 'images/Moving boxes.png' )}}" alt="">
                    <div class="text-content">
                        <h3>Moving Boxes</h3>
                        <p>Running toilets, blockages, or mystery flushes? We’ll investigate, diagnose, and repair all toilet troubles—without judgment (we’ve seen it all, promise).
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div data-aos="fade-up" class="card">
                    <img src="{{ url_for('static', filename= 'images/vansizes.jpg' )}}" alt="">
                    <div class="text-content">
                        <h3>Various Van Sizes</h3>
                        <p>Plumbing problems rarely happen at convenient times. That’s why we offer emergency call-outs—so whether it’s 10 AM or 10 PM, you’re not left with a flood and a frantic Google search.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

<!-- We'll bring the tools, you just sit back and enjoy the view. -->