{% extends "layout.html" %}
{% block body_content %}

<section id="moving-section">
    <div class="container pt-5">
        <img data-aos="fade-right" src="{{ url_for('static', filename= 'images/dog_moving.jpg' )}}" alt="">
        <div class="card"></div>
        <div class="content">
            <h3>Moving Services <span class="material-symbols-outlined" style="font-variation-settings: 'FILL' 1; transform:translateY(2px)">{{ icon }}</span> </h3>
            <p>Not everyone has the time (or the back strength) to lift sofas and haul boxes — and that’s okay.
                Moving doesn’t have to be a headache.
                <br>At My Home Hero, we’re all about making your next chapter easier.
                    Whether you're heading across town or just down the street, our pros handle the heavy lifting so you can focus on settling in, not stressing out.
                    Let’s make your move a smooth one.
            </p>
        </div>
    </div>
</section>

<section id="moving-services-section">
    <div class="moving-wrapper">
        <div class="row">
            <div class="col-sm">
                <div data-aos="fade-up" class="card">
                    <img src="{{ url_for('static', filename= 'images/Packing.jpg' )}}" alt="">
                    <div class="text-content">
                        <h3>Packing</h3>
                        <p>Moving can be overwhelming, but packing doesn’t have to be! Our team carefully wraps and packs your belongings with skill and precision, making sure everything arrives safe and sound. Whether it’s delicate glassware or bulky furniture, we’ve got it covered.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div data-aos="fade-up" class="card">
                    <img src="{{ url_for('static', filename= 'images/Unloading.png' )}}" alt="">
                    <div class="text-content">
                        <h3>Unpacking</h3>
                        <p>Settling into your new place should feel exciting, not exhausting. We offer professional unpacking services to help you organize, set up, and feel at home faster. From unboxing kitchen essentials to placing your favorite decor, we’ll handle the heavy lifting.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div data-aos="fade-up" class="card">
                    <img src="{{ url_for('static', filename= 'images/Moving boxes.png' )}}" alt="">
                    <div class="text-content">
                        <h3>Moving Boxes</h3>
                        <p>No boxes? No problem! We can provide high-quality moving boxes and packing supplies, so you don’t have to scramble last minute. From wardrobe boxes to bubble wrap, we'll make sure you have everything needed to protect your treasures.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div data-aos="fade-up" class="card">
                    <img src="{{ url_for('static', filename= 'images/vansizes.jpg' )}}" alt="">
                    <div class="text-content">
                        <h3>Various Van Sizes</h3>
                        <p>Every move is different—that’s why we offer a range of van sizes to suit your needs. Whether you’re relocating a studio apartment or a full family home, we have the right vehicle to move your belongings safely and efficiently.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</section>

{% endblock %}

<!-- We'll bring the tools, you just sit back and enjoy the view. -->