{% extends "layout.html" %}
{% block body_content %}

<section id="painting-section">
    <div class="container">
        <div class="card"></div>
            <div class="content">
                <h3>Painting Services <span class="material-symbols-outlined" style="font-variation-settings: 'FILL' 1; transform:translateY(2px)">{{ icon }}</span> </h3>
                <p>Here at My Home Heroes we believe your home deserves walls that reflect your personal style. 
                    Whether you're moving into a new place or simply refreshing your current home, our pros specialize in painting, 
                    wallpaper design, and giving your walls a complete makeover with a fresh coat or a brand new look. 
                    Whether you want a bold, vibrant design or something more subtle, our experts will help bring your vision to life. 
                    if you're dealing with old wallpaper, we'll remove it carefully, start with a clean slate and create something that really suits you!
                </p>
            </div>
            <img data-aos="fade-right" src="{{ url_for('static', filename= 'images/painter.jpeg' )}}" alt="">
        </div>
    </div>
</section>

<section id="painting-services">
    <div class="container pt-5">
        <div class="text-content">
            <h2 style="text-transform: capitalize;">Services</h2>
            <p>Book your high-quality, efficient service today!</p>
            <hr>
        </div>

        <div class="container mt-4">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <img src="{{ url_for('static', filename='paints/recoating.jpg') }}" alt="Painter using a rolling pin" class="img-fluid shadow">
                    <div class="text-body">
                        <p class="mt-2 text-center">Bring your inside walls out of their shell</p>
                        <h4>Interior Painting</h4>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <img src="{{ url_for('static', filename='paints/plan.jpeg') }}" alt="Painter with clients" class="img-fluid shadow">
                    <div class="text-body">
                        <p class="mt-2 text-center">Hue asked, we answered. </p>
                        <h4>Colour Consultation & Redesign</h4>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <img src="{{ url_for('static', filename='paints/remove.jpeg') }}" alt="Painter removing wallpaper" class="img-fluid shadow">
                    <div class="text-body">
                        <p class="mt-2 text-center">Commitment? Optional.</p>
                        <h4>Wallpaper Attachment & Removal</h4>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <img src="{{ url_for('static', filename='paints/drywall.jpeg') }}" alt="Painting patching up drywall" class="img-fluid shadow">
                    <div class="text-body">
                        <p class="mt-2 text-center">making old walls feel young, without yoga</p>
                        <h4>Repainting & Recoating</h4>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <img src="{{ url_for('static', filename='paints/drywall2.jpeg') }}" alt="Painting patching up drywall" class="img-fluid shadow">
                    <div class="text-body">
                        <p class="mt-2 text-center">What hole?</p>
                        <h4>Drywall Repair</h4>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <img src="{{ url_for('static', filename='paints/exterior.jpeg') }}" alt="Painter spray painting the fence" class="img-fluid shadow">
                    <div class="text-body">
                        <p class="mt-2 text-center">weather resistant, just like your raincoat</p>
                        <h4>Exterior & Outdoor Painting</h4>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div data-aos="fade-right" class="text-banner">
            <h1>Colour wizards on the go!</h1>
            <h1><span class="material-symbols-outlined" style="font-size: 3rem">format_paint</span></h1>
        </div>
        <br><br>
    </div>
</section>

{% endblock %}


