{% extends "layout_register.html" %}
{% block body_content %}

<div class="outer-wrapper">
    <div class="inner-wrapper">
        <div class="col-sm column-left">
            <div class="content">
                <h1 data-aos="fade-up">{{ title }}</h1>
                <h4 data-aos="fade-up">{{ subheading }}</h4>
            </div>
        </div>

        <div class="col-sm column-right">
            <div data-aos="fade-up" id="reset-password">
                <h2>Change Password</h2>
                <br>
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.new_password(class="form-control", placeholder="Please Enter A New Password")}}
                        {% for error in form.new_password.errors %}
                            <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <br>
                    <div class="form-group">
                        {{ form.confirm_password(class="form-control", placeholder="Confirm The Password") }}
                        {% for error in form.confirm_password.errors %}
                            <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <br>
                    <div class="form-group">
                        {{ form.submit }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}