{% extends "layout.html" %}
{% block body_content %}

<section id="tp-profile">
    <div id="profile-update" class="container">
        <img class="profile-icon" src="{{ url_for('static', filename='decoration/circle_orange.png') }}" alt="">
        <div class="row">
            <div class="col-md-4">
                <img class="profile-img" src="{{ url_for('static', filename='logo/fullicon.png')}}" alt="">
            </div>
            <div class="col-md-8">
                <div class="text-content">
                    <hr>
                    <h2>update your profile</h2>
                    <h5>Provide your clients with your latest professional details</h5>
                    <hr>
                </div>
            </div>
        </div>
        <br>

        <div class="form-wrapper">
            <form action="{{ url_for('update_tp_profile') }}#update_profile" method="POST">
                <input type="hidden" name="worker_id" value="{{ worker_id }}">
    
                <div class="form-group">
                    <label for="phone_number"><h5><span class="material-symbols-outlined search">call</span>Update your phone number:</h5></label>
                    <input type="tel" name="phone_number" pattern="^\+44\s[0-9]{4}-[0-9]{6}$" placeholder="Format: +44 1234-567890" value="{{ phone_number }}">
                </div>
                
                <div class="form-group">
                    <label for="hourly_rate"><h5><i class='bx bx-pound bx-border-circle'></i>Update your hourly rate:</h5></label>
                    <input type="number" step="0.01" min="0" placeholder="£ 0.00" name="hourly_rate" value="{{ hourly_rate }}">
                </div>
                
                <div class="form-group">
                    <label for="business"><h5><span class="material-symbols-outlined search">add_business</span>Update your company details:</h5></label>
                    <input type="text" name="business" minlength="1" maxlength="300" placeholder="e.g. Handy Helpers Ltd" value="{{ business }}">
                </div>
    
                <div class="form-group">
                    <label for="bio"><h5><span class="material-symbols-outlined search">engineering</span>Update your status and promote yourself to home hero clients:</h5></label>
                    <input type="text" name="bio" minlength="0" placeholder="e.g. I'm here to save your home!" value="{{ bio }}">
                </div>
    
                <button type="submit" class="btn btn-primary" style="font-size: 1.13rem; font-weight: 500;">Update Profile</button>
            </form>
            <div id="back-button">
                <a href="/tradesperson_profile#tradesperson-profile"><button class="btn btn-primary btn-block back-btn">Back to Profile Menu</button></a>
            </div>
        </div>

        <br>

        <div class="display-profile">
            <div class="text-content">
                <hr>
                <h4>your profile</h4>
                <h6>This is how your profile currently looks during the client search</h6>
                <hr>
            </div>
            <div class="profile-content">
                <div class="card">
                    <h5 class="card-title">{{ profile[0] }} <span class="material-symbols-outlined .verified">verified_user</span></h5>
                    <p class="card-text">
                        <strong>Specialisation:</strong> {{ profile[1] }}<br>
                        <strong>Based in:</strong> {{ profile[2] }}<br>
                        <strong>Per Hour:</strong> £{{ profile[3] }}<br><br>
                        <strong>Rating:</strong> {{ profile[4] or 'N/A' }} ({{ profile[5] }} reviews) <br><br>
                        <strong>" {{ profile[6] }} "</strong><br><br>
                        <strong><span class="material-symbols-outlined" style="display: inline-flex; vertical-align: middle;">phone</span> Phone Number:</strong> {{ profile[7] }} <br>
                        <strong><span class="material-symbols-outlined" style="display: inline-flex; vertical-align: middle;">business</span> Company:</strong> {{ profile[8] }}
                    </p>
                </div>
            </div>
        </div>
        <br><br>
    </div>
</section>

{% endblock %}