{% extends "layout.html" %}
{% block body_content %}

<section id="tradesperson-profile">
    <div class="container pt-5">
        <div class="text-content">
            <hr>
            <h2><span class="material-symbols-outlined search" style="font-variation-settings: 'FILL' 1;">settings</span> your profile options</h2>
            <hr>
        </div>
        <div class="profile-buttons">
            <a href="{{ url_for('setup_tp_profile') }}#profile-setup"><button class="btn btn-primary btn-block profile-btn">Setup your profile</button></a>
            <a href="{{ url_for('update_tp_profile') }}#profile-update"><button class="btn btn-primary btn-block profile-btn">Update your profile</button></a>
            <a href="{{ url_for('update_tp_info') }}#personal-info"><button class="btn btn-primary btn-block profile-btn">Update your personal info</button></a>
        </div>
    </div>
</section>

{% endblock %}